[submodule "glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "bandit"]
	path = lib/bandit
	url = https://github.com/joakimkarlsson/bandit.git
[submodule "freetype-gl"]
	path = lib/freetype-gl
	url = https://github.com/rougier/freetype-gl.git
[submodule "glew"]
	path = lib/glew
	url = https://github.com/nigels-com/glew.git
[submodule "freetype2"]
	path = lib/freetype2
	url = http://git.savannah.gnu.org/r/freetype/freetype2.git
