[submodule "glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "bandit"]
	path = lib/bandit
	url = https://github.com/joakimkarlsson/bandit.git
[submodule "bandit-fix"]
	path = lib/bandit-fix
	url = https://github.com/andystanton/bandit.git
